
body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.66em;
    color: #747579;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.04em;
    color: #000;
    margin-bottom: 16px;
}

h1{
    font-size: 72px;
    line-height: 1.20em;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 36.8px;
}

h4{
    font-size: 28px;
}

h5{
    font-size: 20.8px;
    font-weight: 500;
    color:#0b0a12;
}

h6{
    font-size: 16px;
}

p{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: #fff;
    transition: .4s ease-in-out;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li{
    padding: 0px;
    margin: 0px;
}

img{
    width:100%;
}

.text-transform-none{
   text-transform: none !important; 
}

.header{
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 20px 0px;
}

.header .bg-body-tertiary{
    background-color: transparent !important;
}

.header .navbar .me-auto {
    margin: auto !important;
}

.header-logo{
    height: 40px;
}

.header .nav-link{
    color: #fff;
    font-weight: 500;
    padding: 20px 16px;
    transition: .2s ease-in-out;
}

.header .nav-link:hover{
    color:#5143d9;
}

.header .btn{
    padding: 6.4px 12.8px;
    background-color:#5143d9;
    color: #fff;
    border: 1px solid #5143d9;
    font-size: 13px;
    border-radius: 8px;
    transition: .2s ease-in-out;
}

.header .btn:hover{
    background-color: #4539b8;
    border: 1px solid #4539b8;
}

.header .btn i{
    margin-right: 5px;
}

.front-page{
    background-image: url(../images/bg-01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 900px;
}

.front-page h5{
    font-weight: 700;
}

.relative{
    position: relative;
}

.overley{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.dark-bg{
    background-color:rgba(11, 10, 18, 0.2);
}

.z-index-9{
    z-index: 9;
}

.discover-area{
    padding: 300px 15px 128px 15px;
    margin: 0px 200px;
    color: #fff;
}

.discover-area h1,
.discover-area h5{
    text-transform: capitalize;
    color: #fff;
    z-index: 9;
    margin-bottom: 16px;
}

.discover-area h5{
    margin-bottom: 30px;
}

.btn{
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    padding: 12.85px 24px;
    text-transform: capitalize;
    border: 1px solid #000;
    border-radius: 16px;
}

.btn:hover{
    background-color: #333335;
    color: #fff;
}

.section-padding{
    padding-top: 128px;
}

.tribute-padding{
    padding: 0px 160px;
}

.tribute-para{
    font-size: 20px;
    margin-bottom: 28px;
    line-height: 1.45em;
}

.tribute h2{
    text-transform: none;
}

.tribute h5{
    text-transform: capitalize;
}

.star-icon i{
    color:#f7c32e
}

.location-icon i{
    color: #5143d9
}

.cancel-icon i{
    color: #d6293e;
}

.payment-icon i{
    color: #0cbc87;
}

.rating,
.star-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.rating{
    margin-top: 12px;
}

.star-rating{
    margin-right: 25.6px;
}

.star-rating h3{
    margin-right: 8px;
    margin-bottom: 0px;
}

.rating-para{
    font-size: 14px !important;
    text-transform: capitalize;
}

.line-height-20{
    line-height: 20px;
}

.experience h2{
    text-align: center;
    margin-bottom: 16px;
}

.exp-box,
.offer-box,
.happy-box{
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    transition: .3s ease-in-out;
}

.exp-box{
    cursor: pointer;
}

.exp-box:on-click{
    cursor: progress;
}

.exp-bg-img img,
.offer-box img,
.happy-moments img{
    width: 100%;
}

.exp-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #0000004d;
    width: 100%;
    height: auto;
    background-image: linear-gradient(180deg, transparent, rgb(0, 0, 0));
    z-index: 1;
}

.experience-content{
    /* margin-top: 95%;
    margin-bottom: 10px; */
    transition: .2s ease-in-out;
}

.exp-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.experience-content h4,
.experience-content p{
    margin-bottom: 5px;
    color: #fff;
    transition: .3s ease-in-out;
}

.experience-content p{
    line-height: 20px;
}

.button{
    color: #fff;
    text-transform: capitalize;
    transition: .3s ease-in-out;
}

.exp-box:hover .experience-content{
    transform: translateY(-8px)
}

/* .exp-bg-img:hover .exp-content h4,
.exp-bg-img:hover .exp-content p,
.exp-bg-img:hover .exp-content .button{
    transform: translateY(-6px)
} */

/* slider */

.exp-slide .slick-arrow,
.slide .slick-arrow,
.feedback .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 45px;
    height: 45px;
    font-size: 0px;
    border-radius: 50%;
    background-color: #00000066;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
    z-index: 4;
}

.exp-slide .slick-arrow:hover,
.slide .slick-arrow:hover,
.feedback .slick-arrow:hover{
    backdrop-filter: blur(0px);
}

.exp-slide .slick-prev,
.slide .slick-prev,
.feedback .slick-prev{
    left: 20px;
    background-image: url(../images/prev-arrow-wh.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.slide .slick-prev,
.feedback .slick-prev{
    left:-100px;
}

.feedback .slick-prev,
.feedback .slick-next{
    opacity:0;
}

.slide:hover .slick-prev,
.feedback:hover .slick-prev{
    left: 20px;
}

.feedback:hover .slick-next,
.feedback:hover .slick-prev{
    opacity: 1;
}

.exp-slide .slick-next,
.slide .slick-next,
.feedback .slick-next{
    right: 20px;
    background-image: url(../images/next-arrow-wh.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.slide .slick-next,
.feedback .slick-next{
    right: -100px;
}

.slide:hover .slick-next,
.feedback:hover .slick-next{
    right: 20px;
}

.padding-15{
    padding: 15px;
}

.fav-heading{
    display:flex;
    justify-content: space-between;
}

.slider{
    border-radius: 16px;
    overflow: hidden;
}

.slide{
    position: relative;
    transition: .3s ease-in-out;
}

.slide-img img{
    position: absolute;
    width:100%;
    height: 100%;
}

.room-overley{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
}

.about-room{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.about-room-box{
    margin: 125px 56px 56px auto;
    padding: 48px;
    border-radius: 8px;
    background-color: #fff;
    z-index: 2;
}

.about-room-box h4{
    margin-bottom: 8px;
}

.about-room-box ul{
    display: flex;
    margin-bottom: 16px;
}

.about-room-box p{
    margin-bottom: 16px;
    line-height: 1.3em;
}

.bullet::before{
    content: "•";
    color: inherit;
    padding-left: 10.4px;
    padding-right: 12px;
}

.fab-room-room-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.fab-room-room-list li{
    text-transform: capitalize;
    margin-right: 20px;
}

.fab-room-room-list li:last-child{
    margin: 0px;
}

.fab-room-room-list li i{
    color: green;
}

.reserve-btn{
    text-transform: capitalize;
    padding: 12px 20px;
    background-color: #f5f5f6;
    border-radius: 8px;
    color: #000;
    font-weight: 600;
}

.reserve-btn:hover{
    background-color: #dfdfe3;
}

.offers h2,
.happy-moments{
    text-align: center;
    margin-bottom: 25.60px;
}

.offer-contents{
    text-align: center;
    padding: 8px;
}

.offer-contents a{
    color: #000;
}

.offer-box:hover .offer-contents a{
    color: #5143d9;
}

.offer-box img{
    border-radius: 16px;;
}

.imageless{
    background-color: #eeebeb;
    height: auto;
    width: 100%;
    border-radius: 16px;
    text-align: center;
    padding: 24%;
}

.imageless i,
.quote i{
    padding: 20px;
    color: #fff;
    text-align: center;
    background-color: #5143d9;
    border-radius: 50%;
}

.happy-box img{
    border-radius: 16px;
}

.border-radius-16{
    border-radius: 16px !important;
}

.hut-img{
    margin-top: 130px;
    height: 100%;
    height: auto;
}

.quotes-bg-img{
    background-image: url(../images/04\ \(2\).jpg);
    background-position: center center;
    background-size: cover;
    height: auto;
    min-height: 425px;
}

.feedback{
    padding: 32px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    top: 165px;
    left: 20px;
}

.quote{
    position: absolute;
    top: -25px;
    left: 32px;
}

.feed-comments{
    text-align: left;
    font-weight: 500;
    line-height: 1.34em;
    text-transform: none;
}

.about-people{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.about-people-flex{
    display: flex;
    align-items: center;
}

.avatar{
    width: 38px;
    height: 38px;
}

.avatar-img{
    height: 100%;
    width: 100%;
    border-radius: 50% !important;
}

.left-margin-8{
    margin-left: 8px;
}

.avatar-name{
    color: #0b0a12;
    font-weight: 400;
    margin-bottom: 0px;
}

.avatar-name a{
    color: #0b0a12;
}

.avatar-name:hover .avatar-name a{
    color:#5143d9
}

.marg-top-25{
    margin-top: 25px;
}

.happy-box-cont{
    padding: 40px;
    text-align: left;
}

.happy-box-cont p{
    line-height: 1.20em;
}

.flex{
    display: flex;
    justify-content: center;
    text-align: left;
}

.bg-social{
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 50%;
}

.thumbs-up{
    background-color:#5143d91a;
}

.thumbs-up i{
    color: #5143d9de;
}

.social-content h5{
    margin: 8px 0px;
    font-weight:700;
}

.marg-top-10{
    margin-top: 10px;
}

.marg-top-20{
    margin-top: 20px;
}

.star{
    background-color: #fd7e141a;
}

.star i{
    color: #fd7e14;
}

.supports{
    background-color: #ff000012;
}

.supports i{
    color: red;
}

.contact{
    padding-bottom: 44.8px;
}

.contact-background{
    background-color: #f5f5f6;
    border-radius: 16px;
    padding:0px;
    overflow: hidden;
}

.contact-bg{
    position: relative;
}

.contact-bg-image-bottom{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.contact-bg-imgage-top{
    position: absolute;
    top: 0px;
    left: 0px;
}

.fill-primary {
    fill: #5143d9;
}

.contact-contain{
    margin: 0px 280px;
    padding: 48px 15px;
    position: relative;
}

.contact-contain h2{
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 25.6px;
}

.contact-contain p{
    text-align: center;
    margin-bottom: 25.6px;
}

.contact-email{
    display:flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
}

.contact-email input{
    width:100%;
    border: 0px;
    margin-right: 4px;
    padding: 8px 16px;
    background-color: #fff;
    outline: none;
}

.contact-email a{
    width:42px;
    height:40px;
    border-radius: 50%;
    background-color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-arrow img{
    max-width: 20px;
}

.contact-email a:hover{
    background-color:#000000cf;
}

.footer{
    padding: 64px 0px;
    background-color: #000;
}

.footer-logo{
    height: 60px;
}

.footer p{
    margin: 16px 0px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer-menu a{
    padding: 8px;
}

.footer-menu a:hover{
    color:#5143d9;
}

.footer-social{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.footer-social li{
    margin-right: 13px;
}

.footer-social li:last-child{
    margin-right: 0px;
}

.footer-social li a{
    height: 35px;
    width: 35px;
    border-radius: 6px;
    background-color: #fff;
    display: block;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 6px;
}

.footer-social li a:hover{
    background-color: #dfdfe3;
}

.icon-fb{
    color: #5475bc;
}

.icon-insta{
    color: #af2767;
}

.icon-twitter{
    color: #3aacdd;
}

.icon-linkedin{
    color: #207eb4;
}

.copyright{
    margin-top: 16px;
    text-transform: capitalize;
    color: #c5c5c7;
    font-weight: 400;
}

.copyright a{
    color: #c5c5c7;
}

.copyright a:hover{
    color:#5143d9;
}

.page-back{
    height: 50px;
    width: 50px;
    border-radius: 4px;
    display: inline-block;
    position:fixed;
    right: 40px;
    bottom: 35px;
    background-color: #5143d9;
    text-align: center;
    padding: 10px 0px;
}

.page-back img{
    width: 25px;
    height: 20px;
}

@media(max-width: 1399px){
    .container{
        max-width: 1140px;
    }

    .hut-img{
        margin-top: 170px;
    }
}

@media(max-width: 1199px){
    .container{
        max-width: 960px;
    }

    .discover-area {
        padding: 200px 0px 128px 0px;
        margin: 0px auto;
    }

    h1{
        font-size: 66px;
    }

    .front-page{
        height: 675px;
    }

    .front-page h5 {
        font-size: 19.8px;
    }

    .tribute-padding {
        padding: 0px 100px;
    }

    h2 {
        font-size: 44px;
    }

    .tribute-para {
        font-size: 19.5px;
    }

    .imageless{
        padding: 28%;
    }

    .hut-img{
        margin-top: 12px;
        margin-bottom: 10px;
    }

    .quotes-bg-img{
        margin-top: 13px;
    }

    .contact-contain {
        margin: 0px 198px;
    }
}

@media(max-width: 991px){
    .container{
        max-width: 720px;
    }

    h1 {
        font-size: 57px;
    }

    .header-logo {
        height: 35px;
    }
/* 
    .header .navbar-toggler-icon{
        height: 1.1em;
        width: 1.1em;
    }

    .header .navbar-toggler {
        padding: 3px 6px 4px;
        backdrop-filter: blur(20px);
    }
    
    .header .nav-item{
        width: 150px;
        backdrop-filter: blur(2px);
        margin-bottom: 2px;
    }

    .header .navbar-toggler:hover{
        backdrop-filter: blur(10px);
        border: 1px solid #000;
        box-shadow: none;
    } */




    /* start menu bar */

    .navbar-toggler {
        background-color: transparent;
        height: 25px;
        width: 25px;
        padding: 0px;
        border: none;
    }

    .navbar-toggler:hover{
        border: none;
        box-shadow: none;
    }

    .navbar-toggler-icon{
        display: block;
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        margin: 5px 0px;
        background-image: none;
    }

    .navbar-collapse .navbar-brand,
    .collapse .social-icons{
        display: block !important;
    }

    .navbar-collapse {
        display: block!important;
        position: fixed;
        z-index: 99999999;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 300px;
        height: 100vh;
        overflow: auto;
        transition: all .4s ease-in-out;
        backdrop-filter: blur(20px);
        padding: 20px;
        box-shadow: 0 12px 30px -2px rgba(0, 0, 0, .1);
    }

    .collapse:not(.show) {
        transition: all .2s ease-in-out;
        transform: translateX(100%);
    }

    .submit-form{
        justify-content: center;
        margin-top: 20px;
    }

    .collapse .navbar-brand{
        padding: 25px 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }

    .collapse .navbar-toggler .navbar-toggler-icon-cross{
        color: #fff;
    }

    .collapse .nav-link{
        width: 100%;
        padding: 13px 0px;
        border-bottom: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-collapse .navbar-toggler-icon{
        display: block;
    }

    .header-menu .nav-item .nav-link {
        padding: 10px 12px;
    }

    .nav-item .nav-link{
        color: #fff;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        width: 100%;
    }

    /* end menu bar */

    .discover-area {
        padding: 185px 0px 128px 0px;
    }

    .front-page{
        height: 605px;
    }

    .tribute-padding {
        padding: 0px 12px;
    }

    h2 {
        font-size: 37px;
    }

    .tribute h5{
        font-size: 19.8px;
    }

    .about-room-box {
        margin: 190px 6px 6px auto;
    }

    .imageless {
        padding: 25%;
    }

    .contact-contain {
        margin: 0px 150px;
    }

    .page-back {
        height: 41px;
        width: 41px;
        right: 25px;
        bottom: 20px;
        padding: 6px 0px;
    }
}

@media(max-width: 767px){
    .container{
        max-width: 540px;
    }

    .header-logo {
        height: 32px;
    }

    /* .header .navbar-toggler {
        padding: 0px 6px 4px;
        backdrop-filter: blur(25px);
    }

    .header .nav-item:hover{
        backdrop-filter: blur(0px);
    } */

    .front-page {
        height: 581px;
    }

    h1 {
        font-size: 47px;
    }

    .section-padding{
        padding-top: 48px;
    }

    .tribute-padding {
        padding: 0px 3px;
    }

    h2 {
        font-size: 33px;
    }

    h3 {
        font-size: 30.8px;
    }

    .btn-padding{
        padding: 8.85px 12px;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .about-room-box {
        margin: 320px 6px 6px 6px;
        padding: 24px;
    }

    .imageless {
        padding: 26%;
    }

    .contact-bg-image-bottom{
        display: none;
    }

    .contact-contain {
        margin: 0px 22px;
        padding: 30px 15px;
    }

    .contact-email a {
        width: 44px;
    }

    .page-back {
        height: 36px;
        width: 36px;
        right: 17px;
        bottom: 20px;
        padding: 4px 0px;
    }
}

@media(max-width: 575px){
    .container{
        max-width: 100%;
    }

    h1 {
        font-size: 45px;
    }

    .discover-area {
        padding: 145px 17px 128px 17px;
    }

    h2 {
        font-size: 31px;
    }

    .tribute-padding {
        padding: 0px 7px;
    }

    .tribute h5{
        margin-bottom: 24px;
    }

    .rating,
    .fav-heading{
        flex-direction: column;
    }

    .star-rating{
        margin-bottom:5px;
        margin-right:0px;
    }

    .btn-padding{
        width:100%;
    }

    .fav-heading h2{
        margin-bottom: 8px;
    }

    .about-room-box {
        margin: 295px 6px 6px 6px;
        padding: 20px;
    }

    .imageless {
        padding: 23%;
    }

    .happy-box-cont {
        padding: 40px 20px;
    }

    .happy-box-cont h3{
        font-size: 28.8px;
    }

    .happy-box-cont p {
        line-height: 1.35em;
    }

    .bg-social {
        width: 3.1rem;
        height: 3.1rem;
        line-height: 3.1rem;
        margin-right:10px;
    }

    .contact-bg-imgage-top{
        display:none;
    }

    .contact-contain {
        margin: 0px 23px;
    }

    .contact-contain p{
        line-height: 1.4em;
    }

    .footer-menu{
        flex-wrap:wrap;
    }
}

@media(max-width: 470px){
    .footer-menu {
        justify-content: space-evenly;
    }
}

@media(max-width: 400px){
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .front-page h5 {
        font-size: 18.5px;
    }
}

@media(max-width: 380px){
    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 29px;
    }

    .front-page h5 {
        font-size: 17.5px;
    }

    .tribute-para {
        font-size: 17.5px;
    }

    .contact-email a {
        width: 47px;
    }
}

@media(max-width: 360px){
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 27px;
    }

    .front-page h5 {
        font-size: 16.5px;
    }

    .btn{
        font-size: 15px;
    }

    .tribute-para {
        font-size: 17.5px;
    }

    .contact-email a {
        width: 47px;
    }
}

@media(max-width: 340px){
    h1 {
        font-size: 33px;
    }

    h2 {
        font-size: 26px;
    }

    h6{
        font-size: 13.5px;
    }

    .front-page h5 {
        font-size: 15.5px;
    }

    .btn{
        font-size: 14px;
    }

    .tribute-para {
        font-size: 17.5px;
    }

    .about-people{
        align-items: center;
    }

    .star-icon i {
        font-size: 14px;
    }

    .contact-email a {
        height: 38px;
    }
}

@media(max-width: 320px){
    h1{
        font-size: 30px;
    }
    
    h2 {
        font-size: 24px;
    }

    h4{
        font-size: 25px;
    }

    h5{
        font-size: 18.8px;
    }

    h6{
        font-size: 12.5px;
    }

    .front-page h5 {
        font-size: 14.5px;
    }

    .tribute h5 {
        font-size: 18px;
    }

    .star-icon i {
        font-size: 13.5px;
        padding: 0px;
    }
}